@media(max-width: 760px){
    
    .cabecalho{
        flex-direction: column;
    }

    .menu{
        flex-direction: column;
        margin-top: 5rem;
    }

    .logo h1{
        font-size: 4rem;
    }

    .menu li {
        padding: 2rem 0;
    }

    .menu li:last-child{
      margin-top: 3.5rem;
      margin-right: 1rem;
    }

    .menu li a{
        font-size: 4rem;
        padding: 1.5rem 4rem;
    }

    .menu li a.botao{
        font-size: 1.8rem;
        padding: 1.5rem 2.5rem;
    }
}